# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.BuilderDefenderGameUdemy.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\locals\Unity\BuilderDefenderGameUdemy\.idea\.idea.BuilderDefenderGameUdemy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
